# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.gradle

build/
out/
local.properties
.DS_Store

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

secret.gpg
